@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*{
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
}
body {
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
}
a{
  color: black;
  text-decoration: none;
}

.custom_scrollBar {
  overflow-y: auto;
}
.custom_scrollBar::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}
.custom_scrollBar::-webkit-scrollbar,
.custom_scrollBar::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
.custom_scrollBar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.custom_scrollBar:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

