@import-normalize;
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap);

:root {
  --dark: #101315;
  --light: #eeeeee;
  --gradient: linear-gradient(10deg, #ffaa00, #ff6a00);
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #b648ff, #ef5dff);
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--dark);
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

h1 {
  color: #ff9d00;
  font-size: 175%;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

h5 {
  text-align: center;
  color: var(--dark);
  font-weight: 500;
  font-size: 130%;
  text-align: justify;
  letter-spacing: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  line-height: 125%;
  margin: 0;
}

kbd {
  background: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px #00000028, 0 2px 0 0 #ffffffc3 inset;
  color: #131313;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  margin: auto;
}

button {
  width: auto;
  height: 3rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
  cursor: default;
  font-family: "Montserrat", sans-serif;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orange-gradient {
  background: var(--gradient);
}

.green-gradient {
  background: var(--gradient2);
}

.pink {
  color: #c273ff;
}

.gray {
  color: #666666;
}

.light-blue {
  color: #00b7ff;
}

.close-button {
  padding: 0 2rem;
  height: 2.5rem;
  margin: 2rem auto 1rem 0;
  background: #101111;
  /* border: 1px dashed #9a9a9a99; */
  color: #ffaa00;
  border-radius: 4px;
  transition: background ease 400ms;
  box-shadow: 1px 1px 15px #03030399;
}
